body {
    margin: 0;
    padding: 0;
}

.container {
    width: 680px;
    margin: 0 auto;
    perspective: 600;
    position: relative;
}

.bloco {
    margin: 0 10px;
}

.bloco figure {
    display: inline-block;
    margin: 5px;
}

.bloco img {
    width: 150px;
    height: 150px;
}

@keyframes sombras{
    0%{
        /* opacity: 1; */
    }
    25%{
        box-shadow: 5px 5px 10px #000;
        /* opacity: 0.5; */
    } 
    50%{
        box-shadow: 10px 10px 10px #000;
        /* opacity: 0.5; */
    }
    100%{
        /* box-shadow: 10px 10px 10px #000; */
        /* opacity: 1; */
    }

}

@keyframes rotacao {
    0%{
        rotate: 30px;
    }
    50%{
        rotate: 90px;
    }
    100%{
        rotate: 180px;
    }

}

figure img:hover{
    animation: sombras 3.0s linear infinite;
}

.card {
    /* height: 100%; */
    /* position: absolute; */
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    /* width: 100%; */
  }

  .card:active {
    transform: rotateY(180deg);
  }

  .card .side {
    backface-visibility: hidden;
    border-radius: 6px;
    /* height: 100%; */
    /* position: absolute; */
    overflow: hidden;
    /* width: 100%; */
  }