body {
    background-color: rgb(220, 244, 250);
    margin: 0px;
}

header {
    background-color: rgb(58, 86, 245);
    color: #fff;
    height: 50px;
    padding-top: 40px;
    padding-left: 20px;
}

h1 {
    margin: 0px;
}

p {
    text-align: center;
}

#principal {
    width: 800px;
    margin: auto;
}

figure {
    background-color: #fff;
    width: 300px;
    margin: 15px auto;
    border: solid rgb(13, 121, 184);
    padding: 10px;

}

figure img {
    width: 300px;
}

figcaption {
    text-align: center;
    font-style: italic;
    padding: 5px;
}

footer{
    background-color: rgb(28, 70, 148);
    height: 50px;
    padding: 10px;
    text-align: center;
    color: #fff;
}
